<div class="footer">
    <div class="container">
        <span class="footer__text">RTF-Engine &copy; <a href="https://room-seven.ru">Room-Seven.ru</a> 2020 | Все права защищены.</span>
        <span>
        	<span class="footer__text">Мы в VK:</span>
        	<a href="https://vk.com/room_seven_ru" target="_blank"><img src="/img/vk.png" alt="Группа ВК" height="30px"></a>
        </span>
        <span class="footer__text">Публичный демо-сайт. Логин: admin, пароль: 123</span>
    </div>
</div>