<div class="container">
    <div class="notfound__container">
        <div class="notfound__text">
            <span class="notfound__text__head">403</span>
            <span class="notfound__text__notify">У вас нет доступа к этой странице</span>
            <a href="/home" class="notfound__text__btn">Вернуться на главную</a>
        </div>
    </div>
</div>
