<div class="container">
    <div class="notfound__container">
        <div class="notfound__text">
            <span class="notfound__text__head">404</span>
            <span class="notfound__text__notify">Страница не найдена</span>
            <a href="/home" class="notfound__text__btn">Вернуться на главную</a>
        </div>
    </div>
</div>
